<%- include('partials/header', { title: 'Inicio - ProJobs' }) %>
    <main>
        <div class="main-content">
            <div class="left-panel">
                <img src="/img/logotipo.png" alt="ProJobs" class="landing-logo">
            </div>
            <div class="right-panel">
                <div class="images-grid">
                    <img src="/img/trabajador1.png" alt="Profesional 1">
                    <img src="/img/tb2.png" alt="Profesional 2">
                    <img src="/img/tb3.png" alt="Profesional 3">
                    <img src="/img/tb4.png" alt="Profesional 4">
                    <img src="/img/tb5.png" alt="Profesional 5">
                    <img src="/img/tb6.png" alt="Profesional 6">
                </div>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>