<%- include('partials/header', { title: 'Panel de Admin - ProJobs' }) %>
    <div class="container">
        <div class="sidebar">
            <h2>Panel Administrador</h2>
            <ul>
                <li><a href="#">Total profesionales Registrados</a></li>
                <li><a href="#">Último mes</a></li>
                <li><a href="#">Servicio más solicitado</a></li>
            </ul>
        </div>
        <div class="main-content">
            <img src="/img/graficos.png" alt="Gráficos de actividad">
        </div>
    </div>
<%- include('partials/footer') %>